- contact = conversation_header[:with]
- new_messages = conversation_header[:new_messages]
- last_message = conversation_header[:last_message]

%tr
  %td
    = check_box_tag 'user_ids[]', contact.id
  %td
    - if new_messages
      = link_to message_path(0, contact_id: contact.id) do
        %span.glyphicon.glyphicon-envelope
  %td
    - if contact.instance_of? User
      = link_to contact do
        = contact.username
    - else
      = contact.username
  %td
    = link_to message_path(0, contact_id: contact.id) do
      = truncate last_message.content, length: 20
  %td
    = time_since last_message.created_at
