- contact = conversation_header[:contact]
- last_message = conversation_header[:last_message]

%tr
  %td
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          .pull-left
            Sender:
            = link_to (last_message.sender == current_user ? "You" : contact.username), last_message.sender
          .pull-right
            Last message:
            = time_since(last_message.created_at)
        .clearfix
      .panel-body
        .row
          .col-sm-5.col-md-3
            = link_to contact do
              = contact.username
              = image_tag contact.default_pic(:thumb), class: 'img-responsive'
          .col-sm-7.col-md-9
            = link_to message_path(0, contact_id: contact) do
              %div= last_message.content
  %td
    = check_box_tag 'user_ids[]', contact.id
