- provide :title, "Conversation with #{@contact.username}"

= content_tag :div, id: 'conversation', :'data-contact_id' => @contact.id do
  = render @messages, contact: @contact

= simple_form_for @message, remote: true do |f|
  = render 'fields', f: f

:javascript
  var div = document.getElementById('conversation');
  div.scrollTop = div.scrollHeight;
