= simple_form_for section_form, url: user_path(current_user), method: :patch do |f|
  - PhysicalInfo.display_attributes.each do |attribute|
    - if attribute == :height
      .row
        .col-sm-6
          = f.input *build_select(:feet, PhysicalInfo)
        .col-sm-6
          = f.input *build_select(:inches, PhysicalInfo)
    -elsif attribute == :weight
      = f.input :weight
    -else
      = f.input *build_select(attribute, PhysicalInfo)
  = f.submit class: 'btn btn-primary'
