= simple_form_for section_form, url: user_path(current_user), method: :patch do |f|

  = f.input :headline

  = f.input :about_me, as: :text, input_html: {rows: 10, class: 'tinymce'}

  = f.input :looking_for, as: :text, input_html: {rows: 7, class: 'tinymce'}

  = f.submit class: 'btn btn-primary'

= tinymce
