.panel.panel-default
  .panel-heading
    %h3.panel-title
      %span.pull-left= link_to user.username, user
      %span.pull-right= "last activity: #{ time_since(user.updated_at) }"
    .clearfix
  .panel-body
    .row
      .col-sm-5.col-md-3
        = link_to user do
          .thumbnail
            = image_tag user.default_pic(:thumb)
      .col-sm-7.col-md-9
        %span.pull-left= "#{ user.age } years old"
        %span.pull-right= user.region
        .clearfix
        %br
        %p= user.try(:essay_info).try(:headline) || ''
