- provide :title, @user.username

- provide :headline, @user.headline

.row
  .col-sm-6
    .pull-left
      = "#{ @user.age } years old"
  .col-sm-6
    .pull-right
      = @user.region
      - if @user == current_user
        = link_to "Edit", edit_user_registration_path(current_user)
      %br
      %br
.row
  .col-sm-8
    .row
      .col-sm-8.col-sm-offset-2
        = link_to user_pics_path(user_id: @user.id) do
          = image_tag @user_pic, class: 'img-responsive'
    %br

    %h3= 'About'
    .panel.panel-default
      .panel-body
        = raw @user.about_me
    %h3 Looking for
    .panel.panel-default
      .panel-body
        = raw @user.looking_for


  .col-sm-4
    .panel.panel-default
      .panel-heading
        %h4 Physical Info
      .panel-body
        %table.table
          %tbody
            %tr
              %td Height
              %td= "#{ @user.feet }' #{ @user.inches }\""
            %tr
              %td Body Type
              %td= BODY_TYPE[@user.body_type]
            %tr
              %td Ethnicity
              %td= ETHNICITY[@user.ethnicity]
            %tr
              %td Hair Color
              %td= HAIR_COLOR[@user.hair_color]
            %tr
              %td Eye Color
              %td= EYE_COLOR[@user.eye_color]
    .panel.panel-default
      .panel-heading
        %h4 Social Info
      .panel-body
        %table.table
          %tbody
            %tr
              %td Religion
              %td= RELIGION[@user.religion]
            %tr
              %td Political Orientation
              %td= POLITICAL_ORIENTATION[@user.political_orientation]
            %tr
              %td Smokes
              %td= SMOKES[@user.smokes]
            %tr
              %td Drinks
              %td= DRINKS[@user.drinks]
            %tr
              %td Drugs
              %td= DRUGS[@user.drugs]

- unless current_user == @user
  .pull-left
    = link_to 'Send Message', new_message_path(recipient_id: @user), class: 'btn btn-primary'
    %span#like_unlike
      = render 'like_unlike', user: @user
  .pull-right
    = link_to "Block" , blocked_users_path(blocked_id: @user), method: :post, class: 'btn btn-danger'
