- provide :title, @user.username
- provide(:headline, @user.essay_info.headline) unless @user.essay_info.nil? || @user.essay_info.headline.blank?

.row
  .col-md-8
    = render 'image_carousel'

    %br

    %h3 About me
    - if @user == current_user
      = link_to "Edit", edit_user_path(current_user, section: 'essay')
    .panel.panel-default
      .panel-body
        - unless @user.essay_info.nil? || @user.essay_info.about_me.nil?
          = simple_format @user.essay_info.about_me, sanitize: true

  .col-md-4.col-md
    = render 'section', user: @user, section: 'physical'

    = render 'section', user: @user, section: 'social'

    = render 'section', user: @user, section: 'sexual'

.row
  - unless current_user == @user
    = link_to 'Send Message', new_message_path(recipient_id: @user.id), class: 'btn btn-primary'

%br
