- provide :title, @user.username

- provide(:headline, @user.essay_info.headline) unless @user.essay_info.nil? || @user.essay_info.headline.blank?

.row
  .col-sm-8
    .row
      .col-sm-8.col-sm-offset-2
        = link_to user_pics_path(user_id: @user.id) do
          = image_tag @user_pic, class: 'img-responsive'

    %br

    %h3 About me
    - if @user == current_user
      = link_to "Edit", edit_user_path(current_user, section: 'essay')
    .panel.panel-default
      .panel-body
        - unless @user.essay_info.nil? || @user.essay_info.about_me.blank?
          = raw @user.essay_info.about_me
    %h3 Looking for
    - if @user == current_user
      = link_to "Edit", edit_user_path(current_user, section: 'essay')
    .panel.panel-default
      .panel-body
        - unless @user.essay_info.nil? || @user.essay_info.looking_for.blank?
          = raw @user.essay_info.looking_for


  .col-sm-4
    = render 'section', user: @user, section: 'physical'

    = render 'section', user: @user, section: 'social'

    =# render 'section', user: @user, section: 'sexual'

- unless current_user == @user
  .pull-left
    = link_to 'Send Message', new_message_path(recipient_id: @user), class: 'btn btn-primary'
    %span#like_unlike
      = render 'like_unlike', user: @user
  .pull-right
    = link_to "Block" , blocked_users_path(blocked_id: @user), method: :post, class: 'btn btn-danger'

