- provide :title, @user.username

.col-md-8
  = render 'image_carousel'

  %h2 About me
  - if @user == current_user
    = link_to "Edit", edit_user_path(current_user, section: 'essay')
  - unless @user.essay_info.nil? || @user.essay_info.about_me.nil?
    %p= @user.essay_info.about_me

.col-md-4.col-md
  .panel.panel-default
    .panel-heading
      %h4 Physical Info
    .panel-body
      - if current_user == @user
        = link_to 'Edit', edit_user_path(current_user, section: 'physical')
    - unless @user.physical_info.nil?
      = render 'section', info: @user.physical_info

  .panel.panel-default
    .panel-heading
      %h4 Social Info
    .panel-body
      - if current_user == @user
        = link_to 'Edit', edit_user_path(current_user, section: 'social')
    - unless @user.social_info.nil?
      = render 'section', info: @user.social_info

  .panel.panel-default
    .panel-heading
      %h4 Sexual Info
    .panel-body
      - if current_user == @user
        = link_to 'Edit', edit_user_path(current_user, section: 'sexual')
    - unless @user.sexual_info.nil?
      = render 'section', info: @user.sexual_info

