!!! 5
%html{lang: 'en'}
  %head
    %title= full_title yield(:title)
    = favicon_link_tag
    %link{href: 'http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrap

      / header
      = render 'layouts/header'

      / body
      #main.container
        .row
          .col-xs-12
            - if content_for? :title
              %h1
                = yield :title
                - if content_for? :headline
                  %small= yield(:headline)
            %br
            = render 'layouts/flash'
            = yield
            .clearfix
            %br

    / footer
    = render 'layouts/footer'

